<% allowed_attributes = Rails::Html::SafeListSanitizer.allowed_attributes - ["class"] %>
<% if @feed_items.empty? %>
  <p>Whoops, nothing here to show. Ether the reader broke or you just don't have any subscriptions at all.</p>
<% else %>
  <% last = nil %>
  <% @feed_items.each do |item| %>
    <% if last.nil? || last.feed_id != item.feed_id %> 
      <p class="feed_title"><%= item.feed_title %></p>
    <% end %>
    <div class="feed_item_container"><div class="feed_item">
      <a href="<%= begin URI.join(item.feed_url, item.url) rescue item.url end %>">
        <p style="font-size: 130%"><%= item.title %></p>
      </a>
      <% case item.feedjira_class %>
      <% when "Feedjira::Parser::AtomYoutubeEntry" %>
        <div class="video_wrapper">
          <iframe width="560" height="349" src="https://www.youtube-nocookie.com/embed/<%= item.youtube_video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <% else %>
        <% case item.feedjira_class %>
        <% when "Feedjira::Parser::ITunesRSSItem" %>
          <% if item.itunes_enclosure_url.present? %>
            <p>
              <audio controls preload="metadata" style="width: 100%">
                <source src="<%= item.itunes_enclosure_url %>" type="<%= item.itunes_enclosure_type %>">
                <!--Your browser does not support the audio element.-->
              </audio>
            </p>
          <% end %>
          <% if item.itunes_image %>
            <p><img src="<%= item.itunes_image %>" alt="" /></p>
          <% end %>
        <% end %>
        <% content = item.content || item.summary || item.itunes_summary %>
        <% if content.present? %>
          <div class="feed_item_content">
            <%= sanitize content, attributes: allowed_attributes %>
          </div>
        <% else %>
            <p style="font-size: 60%"><i>no summary or content available</i></p>
        <% end %>
      <% end %>
    </div></div>
    <!--<hr />-->
    <% last = item %>
  <% end %>
  <% if @next %>
    <p class="pagination">
      <%= link_to controller: :feeds, action: :index, before: "#{last.first_order_num.to_f}_#{last.second_order_num.try(:to_f)}_#{last.id}" do %>
        before <%= [last.custom_date, last.created_at].compact.first.to_s %> →
      <% end %>
    </p>
  <% end %>
<% end %>
